<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flowers By Product</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/seedstyle.css') }}">
    </head>
    
    <body>
        <section class="services">
            <div class="container">
                <div class="heading">
                    <h2>Know About the Regeneration of damaged one</h2>
                    <p>We propound the new from the damaged & ripen of different flowers...</p>
                </div>

                <div id="google-element"></div>
                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"> </script>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box one">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Chrysanthemums</h4>
                            <p class="descrip"><b>Medicinal Purposes: </b>Traditional Chinese Medicine (TCM) often employs flowers in herbal remedies. They have cooling properties used to treat fever, headaches, and inflammation.  <br><br>
                                <b>Cosmetic Products: </b> These extracts are incorporated into skincare products for their purported anti-inflammatory and soothing effects. They may help calm irritated skin and reduce redness. <br><br>
                                <b>Insecticides and Repellents: </b>Certain compounds extracted from Chrysanthemum flowers, particularly pyrethrins, are used in insecticides and repellents due to their effectiveness against pests. <br><br>
                                <b>Food and Beverage Additives: </b> Chrysanthemum petals are sometimes used as a natural food coloring agent, imparting a vibrant yellow color to dishes and beverages also used for garishing the food. <br><br> 
                                <b>Aromatherapy: </b>Chrysanthemum essential oil is used in aromatherapy for its calming and stress-relieving properties promote relaxation and improve mood.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box two">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Hibiscus</h4>
                            <p class="descrip"><b>Medicinal Purposes: </b>Hibiscus tea, made from the dried calyces (the outer part of the flower), is consumed for its potential health benefits like low BP and cholesterol levels. <br><br>
                                <b>Cosmetic Products: </b>Hibiscus extracts are used in skincare products for their moisturizing and exfoliating properties. They may help improve skin texture, tone, and elasticity.<br><br>
                                <b>Haircare Products: </b> Hibiscus extracts are incorporated into hair care products such as shampoos, conditioners, and hair masks. strengthen hair follicles, prevent breakage.<br><br>
                                <b>Fragrances and Perfumes: </b> Hibiscus scents are used in perfumery to create floral fragrances with a fresh and sweet aroma, These scents are often incorporated into perfumes, body sprays.<br><br> 
                                <b>Food and Beverages: </b> Dried hibiscus flowers are used as a natural food coloring agent in various dishes and beverages, adding a deep red hue.
                            </p>        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box three">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Lily</h4>
                            <p class="descrip"><b>Medical Purpose: </b>In traditional medicine systems like Traditional Chinese Medicine and Ayurveda, these used for coughs, respiratory issues, and promote lung health.<br><br>
                                <b>Cosmetic Products: </b>Lily extracts or essential oils help hydrate the skin, reduce the appearance of fine lines and wrinkles, and promote a youthful complexion.<br><br>
                                <b>Textiles and Crafts: </b> Lilies or buds may be printed or embroidered onto fabrics to create decorative patterns for clothing, accessories, and home décor items.<br><br>
                                <b>Aromatherapy: </b> Lily essential oil is used in aromatherapy for its calming and uplifting properties helps to reduce stress, promote relaxation, and improve mood.<br><br> 
                                <b>Food and Beverages:  </b> Some species of lilies are edible in culinary application, daylily buds and petals are used in salads, stir-fries, and other dishes in certain cuisines.
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box four">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Rose</h4>
                            <p class="descrip"><b>Medicinal Uses: </b>Rose petals and rose hips are used in herbal medicine for their health benefits. They are rich in antioxidants, vitamins, and other compounds.<br><br>
                                <b>Cosmetic Products: </b>Rose extracts, rose water, and rose essential oils  are commonly used in skincare products for moisturizing, soothing, and anti-inflammatory properties.<br><br> 
                                <b>Food and Beverages:  </b>Rose-infused teas and beverages are enjoyed for their refreshing taste and potential health benefits, such as promoting relaxation and digestion.<br><br>
                                <b>Hair Care Products: </b> Rose extracts and rose oil are incorporated into hair care products such as shampoos, conditioners, and hair masks help nourish the scalp, healthy and shine.<br><br>
                                <b>Aromatherapy: </b> Rose essential oil is prized in aromatherapy used in diffusers, massage oils, and bath products to reduce stress, anxiety, and tension.
                            </p>          
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box five">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Jasmine</h4>
                            <p class="descrip"><b>Cosmetic Products: </b>Jasmine extracts and essential oils used in facial creams, serums, and masks, helping to hydrate the skin, reduce inflammation.<br><br>
                                <b>Medicinal Purposes: </b>In traditional medicine systems like Ayurveda, brewed into teas or extracts to help with digestive issues, insomnia, and anxiety.<br><br> 
                                <b>Hair Care Products: </b>Jasmine extracts and oils are incorporated into hair care products such as shampoos, conditioners, and hair oils. <br><br>
                                <b>Household Products: </b> Jasmine fragrance is used in household products such as candles, air fresheners, and laundry detergents.<br><br>
                                <b>Aromatherapy: </b> Jasmine essential oil is used in diffusers, massage oils, and bath products to alleviate stress, anxiety, and depression, promoting relaxation.
                            </p>         
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box six">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">MariGold</h4>
                            <p class="descrip"><b>Cosmetics Products: </b>Marigold extracts or calendula oil used in creams, lotions, and ointments designed to treat dry skin, minor burns, cuts, and irritation.<br><br>
                                <b>Medicinal Purposes: </b>Calendula tea is consumed for its potential health benefits, including supporting digestion, reducing inflammation, and boosting the immune system.<br><br> 
                                <b>Herbal Remedies: </b>Marigold flowers are used in herbal remedies to alleviate menstrual cramps, reduce inflammation in the digestive system, and promote overall well-being.<br><br>
                                <b>Textile Dyeing: </b> These are traditionally used to dye fabrics and textiles. They produce hues ranging from yellow to orange, depending on the extraction method and mordants used. <br><br>
                                <b>Gardening and Pest Control: </b> Marigolds are ornamental plants in gardens and landscapes,ability to repel certain pests like aphids, nematodes, and mosquitoes.
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>