<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flower Seedling</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/seedstyle.css') }}">
    </head>
    
    <body>
        <section class="services">
            <div class="container">
                <div class="heading">
                    <h2>Know About the Seedling Precautions</h2>
                    <p>We provide all the required measures to take care of different flowers...</p>
                </div>

                <div id="google-element"></div>
                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"> </script>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box one">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Chrysanthemums</h4>
                            <p class="descrip"><b>Environmental conditions: </b> They prefer daytime temperatures between 15°C to 21°C and nighttime slightly cooler. <br><br>
                                <b>Germination conditions: </b> The seeds needs to be planted in well-draining soil and maintain consistent moisture levels. <br><br>
                                <b>Sunlight: </b> Choose a location for your seedling trays or pots that receives at least 6 hours of direct sunlight each day. <br><br>
                                <b>Avoid overwatering: </b>  Keep the soil around seedling chrysanthemums consistently moist Water deeply and thoroughly,penetrate the root.<br><br> 
                                <b>Others:</b> Apply a layer of organic mulch around seeds to help retain soil mositure, suppress weeds.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box two">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Hibiscus</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Protect seedling hibiscus from temperatures below 50°F (10°C), as they are sensitive to cold.<br><br>
                                <b>Germination conditions:</b> Hibiscus seeds typically germinate within 10 to 21 days under optimal conditions. <br><br>
                                <b>Sunlight: </b> If growing indoors, place the seedlings near a south-facing window or provide proper sunlight.<br><br>
                                <b>Avoid overwatering: </b> Overwatering can lead to root rot and other fungal diseases and aphids.<br><br> 
                                <b>Others:</b> Sow hibiscus seeds at a depth of about 1/4 inch (6 mm) in the growing medium, cover them with vermiculite.
                            </p>        
                        </div>
                    </div>
<!---->
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box three">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Lily</h4>
                            <p class="descrip"><b>Environmental conditions: </b>The ideal temperature range between 60°F to 75°Fduring the day and slightly cooler at night. <br><br>
                                <b>Germination conditions:</b>Lily seeds can take several weeks to several months to germinate based on freshness, and environmental conditions.<br><br> 
                                <b>Sunlight: </b>Best in warm temperatures between 24-29°C. Provide a warm, sunny location.<br><br>
                                <b>Avoid overwatering:</b> Water seedlings to settle the soil and ensure good deeply and infrequently, rather than shallowly and frequently.<br><br>
                                <b>Others:</b> Prepare the planting area by loosening the soil to a depth of 12 to 18 inches (30 to 45 cm).
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box four">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Rose</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Avoid exposing seedlings to extreme temperature fluctuations, as this can stress the plants. <br><br>
                                <b>Germination conditions:</b>Rose seeds can take from a few weeks to several months to germinate based on seed variety, freshness.<br><br> 
                                <b>Sunlight: </b>Best in warm temperatures between 24-29°C. Provide a warm, sunny location.<br><br>
                                <b>Avoid overwatering:</b> Overwatering can lead to root rot, fungal diseases and aphids,mites,scales.<br><br>
                                <b>Others:</b> Prune away any dead, damaged, or diseased branches to encourage  growth and shape.
                            </p>          
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box five">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Jasmine</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Avoid exposing seedlings to temperatures below 50°F as they are sensitive to cold. <br><br>
                                <b>Germination conditions:</b>Jasmine seeds typically germinate within 2 to 4 weeks under optimal conditions. <br><br> 
                                <b>Sunlight: </b>Requires bright, indirect sunlight. If growing indoors, provide supplemental lighting with fluorescent or LED grow lights.<br><br>
                                <b>Avoid overwatering:</b> Overwatering can lead to root rot, fungal diseases and whiteflies,spider.<br><br>
                                <b>Others:</b>  Install trellises, stakes, or other supports as needed to prevent the plants from sprawling.
                            </p>         
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box six">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">MariGold</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Sensitive to temperature, humidity, and sunlight may lead to wilting or yellowing leaves. <br><br>
                                <b>Germination conditions:</b>Marigold seeds typically germinate within 5 to 7 days under optimal conditions.  <br><br> 
                                <b>Sunlight: </b>They should receive at least 6-8 hours of direct sunlight. Provide a warm, sunny location.<br><br>
                                <b>Avoid overwatering:</b> Water seedlings carefully to keep the soil consistently moist but not waterlogged.<br><br>
                                <b>Others:</b> Good air circulation is important for preventing fungal diseases avoid overcrowding.
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>