<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fruit Organic Matters</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='frusoil/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='frusoil/soilstyle.css') }}">
    </head>
    
    <body>
        <section class="services">
            <div class="container">
                <div class="heading">
                    <h2>Know About the Organic Generation </h2>
                    <p>Explore the organic procedures to grow healthy & juicy fruits...</p>
                </div>

                <div id="google-element"></div>
                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"> </script>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box one">
                            <div class="icon">
                                <i class="fas fa-water"></i>
                            </div>
                            <h4 class="title">Guava</h4>
                            <p class="descrip"><b>Soil Type and Climate: </b>Factors such as soil drainage and water retention capacity influence irrigation requirements based on the climate changes.<br><br>
                                <b>Rainfall Patterns: </b>During monsoon months, irrigation may not be necessary unless extended periods of drought occur, affecting soil moisture levels.<br><br>
                                <b>Age of Trees: </b> Young trees with shallow root systems require for every 2-3 days during dry season. As trees mature, irrigation frequency can be adjusted.<br><br>
                                <b>Irrigation Interval: </b>Trees aged 2-5 years may need irrigation every 4-5 days, while older trees (5-8 years) can be irrigated at intervals of 10-15 days during dry spells.<br><br> 
                                <b>Full Bearing Stage: </b>Guava trees in full bearing stage benefit from strategic irrigation practices, typically involving 2-3 irrigations after fruit set. 
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box two">
                            <div class="icon">
                                <i class="fas fa-water"></i>
                            </div>
                            <h4 class="title">Custard Apple</h4>
                            <p class="descrip"><b>Soil Characteristics: </b>The type of soil, its texture, and drainage properties dictate the irrigation needs, Sandy soils may require more frequent watering compared to others.<br><br>
                                <b>Climate and Rainfall Patterns: </b>Prevailing climatic conditions, including temperature and humidity, along with rainfall patterns, influence the irrigation schedule.<br><br>
                                <b>Tree Age and Root Development: </b> Young custard apple trees with developing root systems may need more frequent irrigation to support growth and establishment.<br><br>
                                <b>Fruiting Stage: </b>During the fruiting stage, custard apple trees may require additional irrigation to support fruit development and prevent stress-induced fruit drop. <br><br> 
                                <b>Irrigation Efficiency: </b>Utilizing irrigation methods such as drip irrigation or basin irrigation helps optimize water use and minimize wastage. 
                            </p>       
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box three">
                            <div class="icon">
                                <i class="fas fa-water"></i>
                            </div>
                            <h4 class="title">Sapota</h4>
                            <p class="descrip"><b>Soil Composition and Drainage: </b>Understanding soil composition helps determine water retention capabilities and irrigation frequency.<br><br>
                                <b>Climate Conditions and Rainfall: </b>Regional climate patterns, including temperature, humidity, and rainfall, impact the irrigation needs of sapote trees. <br><br>
                                <b>Tree Age and Root Development:  </b> Young sapote trees require regular irrigation to support root development and establishment. As trees mature, adjust in irrigation frequency and volume. <br><br>
                                <b>Fruiting Stage: </b>During fruiting stages, sapote trees may require additional irrigation to sustain fruit growth and prevent water stress-induced fruit drop.<br><br> 
                                <b>Irrigation Efficiency: </b>Employing efficient irrigation methods such as drip irrigation or mulching helps optimize water usage and minimize runoff.
                            </p>       
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box four">
                            <div class="icon">
                                <i class="fas fa-water"></i>
                            </div>
                            <h4 class="title">Banana</h4>
                            <p class="descrip"><b>Soil Composition and Drainage: </b>Well-draining soils promote healthy root development, affecting the frequency and volume of irrigation.<br><br>
                                <b>Climate Conditions and Rainfall: </b>Regional climate conditions, including temperature, humidity, and rainfall patterns, determine the irrigation needs of banana plants. <br><br>
                                <b>Stage of Growth:  </b> Young plants and those establishing root systems require more frequent watering compared to mature plants. <br><br>
                                <b>Fruiting Cycle: </b>Banana plants demand increased water availability during flowering and fruiting stages to support the development of healthy bunches.<br><br> 
                                <b>Irrigation Efficiency: </b> Proper water management practices, including mulching, reduce evaporation and maintain soil moisture for growth.
                            </p>           
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box five">
                            <div class="icon">
                                <i class="fas fa-water"></i>
                            </div>
                            <h4 class="title">Papaya</h4>
                            <p class="descrip"><b>Soil Composition and Drainage: </b>Well-draining soils are essential to prevent waterlogging and root rot, while sandy soils may require more.<br><br>
                                <b>Climate Conditions and Rainfall: </b>Regional climate conditions, including temperature, humidity, and rainfall distribution, impact the irrigation requirements of papaya plants. <br><br>
                                <b>Stage of Growth:  </b> Young plants and those establishing root systems require more frequent watering compared to mature plants. <br><br>
                                <b>Fruiting Cycle: </b>Papaya plants demand increased water availability during flowering and fruiting stages to support the development of healthy fruits.<br><br> 
                                <b>Irrigation Efficiency: </b> Mulching around papaya plants conserves soil moisture and reduces evaporation, ensuring efficient water utilization.
                            </p>        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box six">
                            <div class="icon">
                                <i class="fas fa-water"></i>
                            </div>
                            <h4 class="title">Grape</h4>
                            <p class="descrip"><b>Soil Composition and Drainage: </b>Well-draining soils are preferred to prevent waterlogging, which can lead to root diseases.<br><br>
                                <b>Climate Conditions and Rainfall: </b> Evapotranspiration rates indicate the amount of water lost from soil and plant surfaces, guiding irrigation scheduling. <br><br>
                                <b>Stage of Growth:  </b> Young vines and those establishing root systems require more frequent watering, while mature vines may need less water. <br><br>
                                <b>Fruiting Cycle: </b>Water stress during these periods can lead to poor berry development, reduced sugar accumulation, and uneven ripening.<br><br> 
                                <b>Irrigation Efficiency: </b>Employing irrigation techniques such as drip irrigation or micro-sprinklers ensures minimizing wastage.
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>