<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fruit By Product</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/seedstyle.css') }}">
    </head>
    
    <body>
        <section class="services">
            <div class="container">
                <div class="heading">
                    <h2>Know About the Regeneration of damaged one</h2>
                    <p>We propound the new from the damaged & ripen of different fruits...</p>
                </div>

                <div id="google-element"></div>
                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"> </script>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box one">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Guava</h4>
                            <p class="descrip"><b>Extracts for Formulations: </b>Extraction techniques can potentially extract beneficial compounds from damaged guava for use in medicinal or cosmetic formulations. <br><br>
                                <b>Teas or Infusions: </b> Guava leaves are often used in traditional medicine for their potential health benefits, including managing diabetes and reducing cholesterol levels. <br><br>
                                <b>Composting: </b> If the guava is severely damaged or rotten, it can still be used for composting. Composting returns valuable nutrients helps improve its fertility.<br><br>
                                <b>Smoothies: </b> Damaged guava can be blended into smoothies by removing the effected part can improve the nutritious one.Though its damaged but still edible, you can juice it. <br><br> 
                                <b>Cooking: </b> Damaged guava can be cooked down into sauces, jams, or preserves. Cut away the damaged portions and use the remaining fruit in your recipe.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box two">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Custard Apple</h4>
                            <p class="descrip"><b>Haircare Products: </b>If the damaged custard apples are still fresh enough, you could experiment with using them in homemade hair masks or rinses. <br><br>
                                <b>Topical Applications: </b>In some traditional medicinal practices, crushed fruit pulp is used for various medical purposes,perform a test first to ensure there are no reactions.<br><br>
                                <b>Composting for Skincare Plants: </b> If the custard apples are too damaged for consumption or extraction, they can still be utilized by composting them.<br><br>
                                <b>Extracts for Formulations: </b> Extract compounds from damaged one, such as through maceration, solvent extraction, these helps into medicinal or cosmetic formulations. <br><br> 
                                <b>Seed Propagation: </b> Collect seeds from the damaged or ripe custard apple fruit.Allow the seeds to dry for a few days. Plant the seeds well-draining soil.
                            </p>        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box three">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Sapota</h4>
                            <p class="descrip"><b>Seed Propagation: </b>Collect seeds from the damaged or ripe sapota fruit. Rinse them to remove any pulp or debris. Plant each seed about 1 inch deep in the soil.<br><br>
                                <b>Composting for Skincare Plants: </b>If the sapota fruit is too damaged for consumption or extraction, it can still be utilized by composting it used for skin products.<br><br>
                                <b>Extracts for Formulations: </b> sapota extract might be included in skincare products for its potential antioxidant properties or in herbal medicines for its purported health benefits.<br><br>
                                <b>Haircare Products: </b> Sapota contains nutrients that may benefit hair health, such as vitamins A and C, help nourish the hair and scalp for rapid hair growth.<br><br> 
                                <b>Topical Applications:  </b> If the damaged sapota fruit is still fresh enough and safe for skin contact,like homemade skincare treatments, such as facial masks or exfoliating scrubs.
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box four">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Banana</h4>
                            <p class="descrip"><b>Medicinal Uses: </b>Bananas are known to be rich in nutrients like potassium, vitamin C and B6used for heart health, digestion.<br><br>
                                <b>Composting: </b>The resulting compost can then be used to nourish plants, including those used for medicinal or cosmetic purposes.<br><br> 
                                <b>Cosmetics:  </b>Bananas contain antioxidants that can be mashed and used in homemade skincare treatments such as facial masks or hair masks. <br><br>
                                <b>Cooking: </b> They are often ideal for making banana bread, muffins, pancakes, smoothies, or banana-based desserts like pudding or ice cream. <br><br>
                                <b>Seed Extraction: </b> Select a ripe banana with visible seeds, Lay the seeds out on a paper towel to dry for a day or two. Make sure they are not exposed to direct sunlight or excessive heat.
                            </p>          
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box five">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Papaya</h4>
                            <p class="descrip"><b>Cooking: </b>you can make papaya smoothies, salads, salsas, desserts, or even savory dishes like curries or stir-fries.<br><br>
                                <b>Cosmetics: </b>Papaya contains enzymes like papain, which have exfoliating properties and can help brighten and clarify the skin.<br><br> 
                                <b>Medicinal Uses: </b>In traditional medicine practices, papaya preparations are used for digestive issues, skin conditions, and other ailments. <br><br>
                                <b>Composting: </b> Compost can then be used to nourish plants, including those used for medicinal or cosmetic purposes.<br><br>
                                <b>Haircare Products: </b>Papaya contains nutrients that may benefit hair health, help nourish the hair and scalp for rapid hair growth.
                            </p>         
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box six">
                            <div class="icon">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <h4 class="title">Grape</h4>
                            <p class="descrip"><b>Cosmetics: </b>Damaged grapes can be mashed or juiced can use skincare treatments such as facial masks, exfoliating scrubs. <br><br>
                                <b>Composting:</b>Composting returns valuable nutrients to the soil and helps improve its fertility, nourish plants,medicinal, cosmetic purposes.<br><br> 
                                <b>Medicinal Uses: </b>In traditional medicine practices,used for various purposes, including supporting heart health, digestion, and overall well-being.<br><br>
                                <b>Cooking: </b> you can make grape jam, jelly, or sauce, or use them in salads, desserts, smoothies, or as a topping for yogurt or oatmeal. <br><br>
                                <b>juicing:</b> Cut away the damaged parts, extract the pulp, and juice it using a juicer or blender. You can strain, if you prefer a smoother texture.
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>