<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vegetable Seedling</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fruseed/seedstyle.css') }}">
    </head>
    
    <body>
        <section class="services">
            <div class="container">
                <div class="heading">
                    <h2>Know About the Seedling Precautions</h2>
                    <p>We provide all the required measures to take care of different fruits...</p>
                </div>

                <div id="google-element"></div>
                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"> </script>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box one">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Brinjal</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Sensitive to temperature, humidity, and sunlight may lead to wilting or yellowing leaves. <br><br>
                                <b>Germination conditions: </b> If possible, conduct a germination test by planting a few seeds in a separate container to gauge their viability. <br><br>
                                <b>Sunlight: </b> Brinjal plants thrive in full sunlight, requiring at least 6 to 8 hours of direct sunlight per day. <br><br>
                                <b>Air Humidity: </b>  In dry climates, consider using mulch or row covers to retain soil moisture and increase humidity around the plants.<br><br> 
                                <b>Others:</b> Plant seeds at the appropriate depth in the soil sown about ¼ to ½ inch deep.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box two">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Cabbage</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Sensitive to temperature, humidity, and sunlight may lead to wilting or yellowing leaves. <br><br>
                                <b>Germination conditions:</b> Pre-planting soaking in water overnight. Scarify seeds to break the coat, aiding moisture penetration.<br><br>
                                <b>Sunlight: </b> Cabbage plants thrive in full sunlight, requiring at least 6 to 8 hours of direct sunlight per day. <br><br>
                                <b>Air Humidity: </b> Adequate humidity can help prevent wilting and reduce the risk of pest and disease problems.<br><br> 
                                <b>Others:</b> Cabbage plants are cold-hardy but can be damaged and threat by frost to the soil. 
                            </p>        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box three">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Tomato</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Sensitive to temperature, humidity, and sunlight may lead to wilting or yellowing leaves. <br><br>
                                <b>Germination conditions:</b>Scarify or soak the seeds in water overnight before planting to soften the seed coat and promote germination. <br><br> 
                                <b>Sunlight: </b>Tomato plants require full sunlight to thrive. Choose a planting location that receives at least 6 hours of sunlight.<br><br>
                                <b>Air Humidity: </b> In dry climates, consider using mulch or row covers to retain soil moisture and increase humidity.<br><br>
                                <b>Others:</b> Tomato plants can be vulnerable to wind damage, especially when young and tender.
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box four">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Bottle Guard</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Planting should be done after the last frost date when temperatures are warm.<br><br>
                                <b>Germination conditions:</b>soak the seeds in water for 24 hours before planting to soften the seed coat and promote germination. <br><br> 
                                <b>Sunlight: </b>In hot climates, providing some afternoon shade can help prevent heat stress on the plants.<br><br>
                                <b>Air humidity:</b> Bottle gourd plants prefer moderate humidity levels for optimal growth and fruit development.<br><br>
                                <b>Others:</b>  Bottle gourd plants are sensitive to frost and cold temperatures, plant after threat passed.
                            </p>          
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box five">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Potato</h4>
                            <p class="descrip"><b>Environmental conditions: </b>Planting in cooler temperatures can help prevent premature sprouting and reduce the risk.<br><br>
                                <b>Germination conditions:</b>Requires warm temperatures and consistent moisture, but Old or damaged seeds may have lower germination. <br><br> 
                                <b>Sunlight: </b>Potatoes require at least 6 to 8 hours of direct sunlight per day for optimal growth.<br><br>
                                <b>Air humidity:</b>  Adequate humidity can help prevent wilting and reduce the risk of foliar diseases.<br><br>
                                <b>Others:</b> Strong winds can damage potato plants, especially when they are young and tender.
                            </p>         
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box six">
                            <div class="icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <h4 class="title">Leafy vegtables</h4>
                            <p class="descrip"><b>Environmental conditions: </b> In hot climates, providing some shade during the hottest can help prevent heat stress and bolting.<br><br>
                                <b>Germination conditions:</b>check the specific temperature preferences for the type of leafy vegetable you are growing promote germination. <br><br> 
                                <b>Sunlight: </b>Prefer partial to full sunlight, at least 4 to 6 hours of sunlight.<br><br>
                                <b>Avoid overwatering:</b> In dry climates, consider using row covers or misting to increase humidity.<br><br>
                                <b>Others:</b> Strong winds can damage tender leafy greens, especially when they are young and fragile.
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>