<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vegetable Seedling</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='frusoil/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='frusoil/soilstyle.css') }}">
    </head>
    
    <body>
        <section class="services">
            <div class="container">
                <div class="heading">
                    <h2>Know About the Plant Sapling Prudent Steps</h2>
                    <p>We provide all the required prophylactic measures to take care of baby vegetable plants...</p>
                </div>

                <div id="google-element"></div>
                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"> </script>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box one">
                            <div class="icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <h4 class="title">Brinjal</h4>
                            <p class="descrip"><b>Growth Habit: </b> Brinjal plants typically have an upright growth habit with a central stem,clear or slightly milky in color.<br><br>
                                <b>Location: </b> These refer full sunlight and well-draining soil. The plant must receive at least 6-8 hours of sunlight. <br><br>
                                <b>Mulching: </b> Apply a layer of organic mulch around the base of the sapling to suppress weed growth, and regulate soil temperature. <br><br>
                                <b>Regular Monitoring: </b> Regularly monitor for any signs of stress, nutrient deficiencies, or other problems. <br><br> 
                                <b>Others:</b> Guava plants are generally hardy and adaptable, sensitive to colder climates.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box two">
                            <div class="icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <h4 class="title">Cabbage</h4>
                            <p class="descrip"><b>Growth Habit: </b>The sapling exhibit moderate to fast growth, can reach heights of 10-20 feet or more, with a spreading canopy.<br><br>
                                <b>Location: </b> These refer full sunlight and moist soil. The plant must receive at least 6-8 hours of sunlight. <br><br>
                                <b>Mulching: </b> Apply a layer of organic mulch around the base of the sapling to suppress weed growth, and regulate soil temperature. <br><br>
                                <b>Regular Monitoring: </b> Provide protection for the sapling during the winter months, by covering it with frost cloth.<br><br> 
                                <b>Others:</b> Generally hardy and adaptable, thriving in tropical and subtropical climates.
                            </p>     
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box three">
                            <div class="icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <h4 class="title">Tomato</h4>
                            <p class="descrip"><b>Growth Habit: </b>Exhibit Moderate growth under favorable conditions, can reach heights of 15-30 feet, with a spreading canopy.<br><br>
                                <b>Location: </b> These prefer full optimal growth with moist soil. The plant must receive at least 6-8 hours of sunlight. <br><br>
                                <b>Mulching: </b> Apply a layer of organic mulch around the base of the sapling to retain moisture, suppress weed growth. <br><br>
                                <b>Regular Monitoring: </b> Provide protection for the sapling during the winter months, by covering it with frost cloth.<br><br> 
                                <b>Others:</b> Plants have moderate drought tolerance, with warm temperatures year-round.
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box four">
                            <div class="icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <h4 class="title">Bottle Guard</h4>
                            <p class="descrip"><b>Growth Habit: </b>Exhibit rapid vertical growth, can grow several inches to a foot or more per week.<br><br>
                                <b>Location: </b> These refer full optimal growth. The plant must receive at least 6-8 hours of sunlight. <br><br>
                                <b>Spacing: </b> plants should be spaced around 8-10 feet apart to accommodate their large size. <br><br>
                                <b>Regular Monitoring: </b> Regularly monitor for any signs of stress, aphids, nematodes. Use organic or chemical pesticides. <br><br> 
                                <b>Others:</b> Plants produce inflorescences,emerges from the center of the fruiting pseudostem.
                            </p>           
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box five">
                            <div class="icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <h4 class="title">Potato</h4>
                            <p class="descrip"><b>Growth Habit: </b>Exhibit Moderate growth under favorable conditions, can reach heights of 10-12 feet, with a spreading canopy.<br><br>
                                <b>Location: </b> These refer full optimal growth. The plant must receive at least 6-8 hours of sunlight. <br><br>
                                <b>Spacing: </b> plants should be spaced around 6-8 feet apart to accommodate their large size at maturity. <br><br>
                                <b>Regular Monitoring: </b>Regularly monitor for any signs of stress, aphids,powdery mildew. Use organic or chemical pesticides.<br><br> 
                                <b>Others:</b> Plants have moderate drought tolerance, with warm temperatures year-round.
                            </p>           
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box six">
                            <div class="icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <h4 class="title">Leafy vegetable</h4>
                            <p class="descrip"><b>Growth Habit: </b>Exhibit rapid growth, woody vines that climb and sprawl along supports such as trellises, wires.<br><br>
                                <b>Location: </b> These refer full optimal growth. The plant must receive at least 6-8 hours of sunlight. <br><br>
                                <b>Spacing: </b> plants adequate airflow and sunlight penetration among grapevines. <br><br>
                                <b>Regular Monitoring: </b>Regularly monitor for any signs of botrytis, downy, powdery mildew. Use organic or chemical pesticides.<br><br> 
                                <b>Others:</b> plants are hardy and adaptable, in different climates from temperate to subtropical. 
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>