<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Soil Fertility</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='frusoil/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='frusoil/soilstyle.css') }}">
    </head>
    
    <body>
        <section class="services">
            <div class="container">
                <div class="heading">
                    <h2>Know About the Soil Compositions</h2>
                    <p>We provide all the characteristics of different vegtables soil properties...</p>
                </div>

                <div id="google-element"></div>
                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"> </script>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box one">
                            <div class="icon">
                                <i class="fas fa-carrot"></i>
                            </div>
                            <h4 class="title">Brinjal</h4>
                            <p class="descrip"><b>Soil Texture:</b> Sandy loam or loamy soils.<br><br> <b>pH Level: </b>pH range of 5.5 to 7.0.<br><br><b>Temperature:</b> 70°F to 95°F (21°C - 35°C).<br><br>
                                <b>Nutrient Content:</b> Incorporating compost or well-rotted manure into the soil before planting can provide nutrients and improve soil.<br><br><b>
                                Climate:</b> Grown under low temperature during the cool season. It is a warm season crop and susceptible to severe frost.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box two">
                            <div class="icon">
                                <i class="fas fa-carrot"></i>
                            </div>
                            <h4 class="title">Cabbage</h4>
                            <p class="descrip"><b>Soil Texture:</b> Sandy loam or loamy soils.<br><br> <b>pH Level:</b> pH range of 6.0 and 7.5.<br><br> <b>Temperature:</b> 45°F - 75°F (7°C to 24°C).<br><br>
                                <b>Nutrient Content:</b> Adequate levels of essential nutrients such as nitrogen, phosphorus, and potassium are crucial.<br><br>
                                <b>Climate:</b> Grown in large areas having a cool and moist climate.
                            </p>        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box three">
                            <div class="icon">
                                <i class="fas fa-carrot"></i>
                            </div>
                            <h4 class="title">Tomato</h4>
                            <p class="descrip"><b>Soil Texture:</b> Sandy loam or loamy soils.<br><br> <b>pH Level:</b> pH range of 6.0 and 6.8.<br><br> <b>Temperature:</b> 60°F to 85°F (16°C - 29°C)<br><br>
                                <b>Nutrient Content:</b> Incorporating compost, aged manure, or balanced organic fertilizers into the soil before planting.<br><br>
                                <b>Climate:</b> Grown under warm and humid climate, such as Coastal climate.
                            </p>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box four">
                            <div class="icon">
                                <i class="fas fa-carrot"></i>
                            </div>
                            <h4 class="title">Bottle Guard</h4>
                            <p class="descrip"><b>Soil Texture:</b> Sandy loam or loamy soils.<br><br> <b>pH Level:</b> pH range of 6.0 and 7.5.<br><br> <b>Temperature:</b> 70°F to 95°F (21°C - 35°C)<br><br>
                                <b>Nutrient Content:</b> Excessive salt content in the soil can inhibit plant growth and development. <br><br>
                                <b>Climate:</b> Grown under sun, warm & humid climate.
                            </p>        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box five">
                            <div class="icon">
                                <i class="fas fa-carrot"></i>
                            </div>
                            <h4 class="title">Potato</h4>
                            <p class="descrip"><b>Soil Texture:</b> Aerated sandy loam or loamy soils.<br><br> <b>pH Level:</b> pH range of 5.0 and 6.5.<br><br> <b>Temperature:</b> 60°F to 70°F (15°C - 21°C)<br><br>
                                <b>Nutrient Content:</b> Require a balanced supply of nutrients i.e., nitrogen, phosphorus, potassium.<br><br>
                                <b>Climate:</b> Grown as a summer crop in the hills and as a winter crop in the tropical and subtropical regions
                            </p>        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-item-center mb-5">
                        <div class="icon_box six">
                            <div class="icon">
                                <i class="fas fa-carrot"></i>
                            </div>
                            <h4 class="title">Leafy vegtables</h4>
                            <p class="descrip"><b>Soil Texture:</b> Aerated sandy loam or loamy soils.<br><br> <b>pH Level:</b> pH range of 6.0 and 7.0.<br><br> <b>Temperature:</b> 55°F to 70°F (12°C - 21°C)<br><br>
                                <b>Nutrient Content:</b> Require a balanced supply of nutrients i.e., calicum, magnesium, potassium.<br><br>
                                <b>Climate:</b> Grown under warm,hot and dry climate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>